* {
	cursor:crosshair;
}

body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  color: #363537;
  padding:0 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
}

h1,h2,h3{
  line-height:1.2
}

a {
	color: #363537;
	text-decoration: underline;
}
.link-1:hover {
	text-decoration-color: #B48EAD;
}
