* {
	cursor:crosshair;
}

body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  color: #363537;
  padding:0 10px;
  width: 80vw;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
}

h1,h2,h3{
  line-height:1.2
}

a {
	color: #363537;
	text-decoration: underline;
}
.link-1:hover {
	text-decoration-color: #00A8C7;
}
.link-2:hover {
	text-decoration-color: #FFD02E;
}
.link-3:hover {
	text-decoration-color: #3D168B;
}
.link-4:hover {
	text-decoration-color: #F94C57;
}
.link-5:hover {
	text-decoration-color: #B48EAD;
}
.link-6:hover {
	text-decoration-color: #2867B2;
}
